* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #06526b;
}


@font-face {
    font-family: Selawik;
    src: url("SelawikLight.ttf") format("opentype");
}


body {
    font-family: Selawik;
    background-color: var(--primary-color);
}

nav {
    text-align: center;
    height: 1.5rem;
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 5px;
    background-color: var(--primary-color);
    border-radius: 7px;
    font-weight: bolder;
}

#red {
    color: rgb(247, 29, 29);
}

.firstSection {
    background-image: url('bgImage1.jpg');
    background-size: cover;
    min-height: 40vh;
    padding: 5rem;
}

.textArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.textArea h1 {
    font-size: 3.5rem;
}

.textArea h4 {
    font-size: 1.5rem;
}

span>img {
    margin-bottom: -4px;
    margin-left: 10px;
}

.meal-search-box {
    margin: 2rem;
    display: flex;
    align-items: stretch;
    width: 50%;
}

.search-control,
.search-btn {
    width: 100%;
    border: 1px solid blue;
}

.search-control {
    padding: 0 1rem;
    font-size: 1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.search-control::placeholder {
    color: var(--primary-color);
}

.search-btn {
    width: 6rem;
    height: 40px;
    font-size: 1.8rem;
    background: var(--primary-color);
    color: #fff;
    border: none;
    cursor: pointer;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.title {
    text-align: center;
    margin: 1rem;
    color: white;
}

.secondSection {
    min-height: 10vh;
}


/**/
.meal-result {
    display: flex;
    flex-wrap: wrap;
}

#meal {
    margin: 1rem 3rem;
    width: 25%;
}

.meal-item {
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}

.meal-img img {
    width: 100%;
    height: 12rem;
    display: block;
}

.meal-name {
    padding: 0.5rem;
}

.meal-name h3 {
    font-size: 1.4rem;
    text-align: center;
}

.recipe-btn {
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: var(--primary-color);
    font-weight: 500;
    font-size: .9rem;
    padding: 0.5rem;
    display: block;
    width: 6rem;
    margin: 1rem auto;
    border-radius: 10px;

}

.recipe-btn:hover {
    /* background: var(--tenne-tawny-dark); */
}


footer h5 {
    color: white;
    text-align: center;
    margin: 1rem;
}

/**/
/* @media screen and (min-width: 320px) {
    nav {
        padding: 0;
        height: 1.5rem;
        padding: .5rem;
    }
    
    nav a {
        padding: 3px;
        font-size: .7rem;
    }

    .firstSection {
        min-height: 30vh;
        padding: 0;
        padding: 2rem;
    }
    
    .textArea {
        width: 100%;
        text-align: center;
        margin: auto;
    }
    
    .textArea h1 {
        font-size: 2.5rem;
        margin: 0.75rem;
    }
    
    .textArea h4 {
        font-size: 1rem;
        margin: 0.75rem;
    }

    .meal-search-box {
        margin: 1rem;
        width: 90%;
    }

    #meal{
        margin: 1rem 1rem;
        width: 90%;
    }
}


@media screen and (min-width: 768px){
    .textArea {
        width: 100%;
        text-align: center;
        margin: auto;
        
    }

    .firstSection {
        min-height: 40vh;
        padding: 0;
        padding: 2rem;
        
    }

    .textArea h1 {
        font-size: 4rem;
    }
    
    .textArea h4 {
        font-size: 1.7rem;
    }
    
}

@media screen and (min-width: 1024px){
    
} */